{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
{% endblock %}

{% block subtitle %} - {{ system.hostname }} - show{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascripts/master_form_utils.js"></script>
<script type="text/javascript" src="/static/javascripts/system_show.js"></script>

<div id='meta-data' data-system-id='{{system.id}}'></div>

<div>
<dl class="show">
<dt>Host name:</dt>
<dd id='hostname_dd'>{{ system.hostname }}</dd>
<div style="clear:both;"></div>

<dt>Created On:</dt>
<dd>{{ system.created_on }}</dd>
<div style="clear:both;"></div>

<dt>Serial:</dt>
<dd>{{ system.serial }}</dd>
<div style="clear:both;"></div>

<dt>Switch Ports:</dd>
<dd>{{ system.switch_ports }}</dd>
<div style="clear:both;"></div>

<dt>Patch Panel Port:</dd>
<dd>{{ system.patch_panel_port }}</dd>
<div style="clear:both;"></div>
{% if not read_only %}
<dt>OOB Ip:</dt>
<dd>
        {% if system.oob_ip %}
            <a href="http://{{ system.oob_ip }}/">{{ system.oob_ip }}</a>
        {% endif %}
</dd>
<div style="clear:both;"></div>
{% endif %}

<dt>OOB switch &amp; port:</dt>
<dd>{{ system.oob_switch_port }}</dd>
<div style="clear:both;"></div>

<dt>Status:</dt>
<dd>{{ system.system_status }}</dd>
<div style="clear:both;"></div>

<dt>Rack:</dt>
{% if system.system_rack %}
    <dd>
        <a href='{{system.system_rack.get_absolute_url()}}'>{{system.system_rack.name}}</a>
        <b> - </b> {{ system.rack_order }}
    </dd>
{% else %}
    <dd>None<b> - </b> {{ system.rack_order }}</dd>
{% endif %}
<div style="clear:both;"></div>

<dt>Rack Location:</dt>
{% if system.system_rack and system.system_rack.location %}
    <dd>
        <a href='{{system.system_rack.location.get_absolute_url()}}'>{{system.system_rack.location.name}}</a>
    </dd>
{% else %}
    <dd><i>Not defined</i></dd>
{% endif %}
<div style="clear:both;"></div>

<dt>System Type:</dt>
<dd>{{ system.system_type }}</dd>
<div style="clear:both;"></div>

<dt>Asset Tag:</dt>
<dd>{{ system.asset_tag }}</dd>
<div style="clear:both;"></div>

<dt>Date Purchased:</dt>
<dd>{{ system.purchase_date }}</dd>
<div style="clear:both;"></div>

<dt>Last Password Change:</dt>
<dd>{{ system.change_password }}</dd>
<div style="clear:both;"></div>

<dt>Purchase Price:</dt>
<dd>{{ system.purchase_price }}</dd>
<div style="clear:both;"></div>

{% if system.warranty_start %}
<dt>Warranty: </dt>
<dd>{{ system.warranty_start.year }}-{{ system.warranty_start.month }}-{{ system.warranty_start.day }} to
  {{ system.warranty_end.year }}-{{ system.warranty_end.month }}-{{ system.warranty_end.day }}</dd>
<div style="clear:both;"></div>
{% else %}
<dt>Warranty: </dt>
<dd>None</dd>
{% endif %}

<dt>Operating System:</dt>
<dd>{{ system.operating_system }}</dd>
<div style="clear:both;"></div>

<dt>Server Model:</dt>
<dd>{{ system.server_model }}</dd>
<div style="clear:both;"></div>

<dt>Allocated to:</dt>
<dd>{{ system.allocation }}</dd>
<div style="clear:both;"></div>

{% if is_release %}
	<dt>Releng Distro:</dt>
		<dd>{{ system.releng_distro }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Bitlength:</dt>
		<dd>{{ system.releng_bitlength }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Purpose:</dt>
		<dd>{{ system.releng_purpose }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Trust Level:</dt>
		<dd>{{ system.releng_trustlevel }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Environment:</dt>
		<dd>{{ system.releng_environment }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Data Center:</dt>
		<dd>{{ system.releng_datacenter }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Role:</dt>
		<dd>{{ system.releng_role }}</dd>
	<div style="clear:both;"></div>
{% endif %}

{% if system.warranty_link %}
<dt>Warranty Check:</dt>
<dd>
<a href="{{ system.warranty_link }}">Warranty Check</a>

</dd>
<div style="clear:both;"></div>
{% endif %}

{% if system.build_attribute %}
  <dt>Support Tier: </dt>
  <dd>{{ system.build_attribute.support_tier }}</dd>
  <div style="clear:both;"></div>
  <dt>Tinderbox Tree URL: </dt>
  <dd><%= auto_link h(@system.build_attribute.tboxtree_url) %></dd>
  <div style="clear:both;"></div>
  <dt>Repository Branch: </dt>
  <dd>{{ system.build_attribute.cvsbranch }}</dd>
  <div style="clear:both;"></div>
  <dt>Cpu Throttled?: </dt>
  <dd>{{ system.build_attribute.cpu_throttled }}</dd>
  <div style="clear:both;"></div>
  <dt>Product Branch: </dt>
  <dd>{{ system.build_attribute.product_branch }}</dd>
  <div style="clear:both;"></div>
  <dt>Closes Tree?: </dt>
  <dd>{{ system.build_attribute.closes_tree }}</dd>
  <div style="clear:both;"></div>
  <dt>Support Doc: </dt>
  <dd><%= auto_link h(@system.build_attribute.support_doc) %></dd>
  <div style="clear:both;"></div>
{% endif %}

</div>

<script>
    $(document).ready(function(){
        display_inpage_search_results('/^{{system.hostname}}\.?$', '#system-dns-info', function (){
            var first_width = '45%';
            var last_width = '20px';  // The edit column
            var rdtype_width = '10%';  // The edit column
            $('.tablesorter th:first-child').css('width', first_width);
            $('.tablesorter th:last-child').css('width', last_width);
            $('.tablesorter th:nth-child(2)').css('width', rdtype_width);
        });
    });
</script>
<div id="system-dns-info">
</div>

<!--- Disabling this until DHCP is deployed -->
<div style="clear:both;">
<dl class="show">
<dt>Registrations: </dt>
<br>
    <div>
        {% from 'core/core_macros.html' import display_sregs %}
        {{ display_sregs(sregs) }}
    </div>
    <a class="add_new_sreg" href="">Add Static Registration</a>
</div>

<div>
{% if system.notes %}
<dl class="show">
<dt>Notes: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre style='width: 700px; white-space: normal;'>{{ system.notes_with_link }}</pre></dd>
<div style="clear:both;"></div>
</dl>
{% endif %}

<div style="clear:both;">
<dl class="show">
<dt>Network Adapters: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    {{ adapter }}
    <table>
    <tr><th>NIC</th><th>IP Address</th><th>Mac Address</th><th>DHCP Scope</th><th>DHCP Hostname</th></tr>
    {% for adapter in adapters %}
        <tr><td>{{adapter.adapter_name}}</td><td>{{ adapter.ipv4_address }}</td><td>{{ adapter.mac_address }}</td><td>{{ adapter.dhcp_scope }}</td><td>{{ adapter.option_hostname }}</td></tr>

    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>


</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>

<dl class="show">
<dt>Key/Value Store (without network adapters): </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    <table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key in key_values %}
        <tr><td>{{key.key}}</td><td>{{ key.value }}</td></tr>
    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>
{% if not read_only %}
<div>

    <dl class="show">
        <dt>Licenses: </dt>
        <dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre>{{ system.licenses }}</pre></dd>
        <div style="clear:both;"></div>
    </dl>
</div>
{% endif %}

<div style="clear:both;"></div>
{% if not read_only %}
<a href="{{ "systems.views.system_edit"|url(system.id) }}">Edit</a>
{% endif %}
<a href="{{ "systems.views.home"|url() }}">Back</a>

<style>
    span.helptext {
        margin-left: 5px;
    }
    input[readonly] {
        color: #888888;
        padding: 2px;
        margin: 0 0 0 0;
        background-image: none;
    }
</style>
<div id="add-sreg-dialog" title="Create New Static Registration" style='display: none; width: 700px;'>
    <form id='sreg-registration-form'>
    <table>
        <caption>Step 1. Pick Registration IP</caption>
        <tr><td colspan="2">Range: <select id='sreg_range' name='sreg_range'></select></td></tr>
        <tr><td>Show all ranges <input type='checkbox' name='show_all_ranges' id='show_all_ranges' style='width: 159px;'></td>
        <td>Auto Assign IP <input type='checkbox' name='auto_assign_ip' id='auto_assign_ip' style='width: 159px;' checked='checked'></td></tr>
        <tr><td colspan="2">IP Address: <input type='text' name='sreg_ip_address' id='sreg_ip_address' style='width: 159px;'/><span class='helptext'>IP Address of Registration</span></td></tr>
    </table>
    <table>
        <caption>Step 2. Pick Registration DNS Name</caption>
        <tr><td>Specify FQDN: <input type='checkbox' name='override_fqdn' id='override_fqdn' checked=""></td></tr>
        <tr><td colspan="2">FQDN: <input type='text' name='sreg_fqdn' id='sreg_fqdn' style='width: 400px;' value=''><span class='helptext'>FQDN</span></td></tr>
    </table>
    <table>
        <caption>Step 3. Pick Registration Hardware Address</caption>
        <tr><td colspan="2"><span id='macs'>Mac Address:</span> <input type='text' name='sreg_mac_address' id='sreg_mac_address' style='width: 15em;' value='11:22:33:44:55:66'><span id='macs-help' class='helptext'>A single MAC addresses</span></td></tr>
    </table>
    <table>
        <caption>Step 4. Pick Registration Name</caption>
        <tr><td>Override registration name: <input type='checkbox' name='auto_name_sreg' id='auto_name_sreg'></td></tr>
        <tr><td colspan="2">Registration Name: <input type='text' name='sreg_name' id='sreg_name' style='width: 159px;' value='ethx.y'><span class='helptext'>Registration eg eth0.0 mgmt1.0</span></td></tr>
    </table>
    <table>
        <caption>Step 5. DNS Options</caption>
        <tr><td>Public DNS:</td><td><input type='checkbox' name='enable_public' id='enable_public' style='width: 159px;'></td></tr>
        <tr><td>Private DNS:</td><td><input type='checkbox' name='enable_private' id='enable_private' style='width: 159px;' value='1' checked=""></td></tr>
    </table>
    <table>
        <caption>Step 6. Pick a DHCP Group</caption>
        <tr>
            <td>Group: </td>
            <td>
                <select name='group'>
                    <option value="">-----</option>
                        {% for group in groups %}
                            <option value="{{ group.pk }}">{{ group.name }}</option>
                        {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}
