{% extends "core/core_base.html" %}

{% block head %}
    <script src="{{ MEDIA_URL }}javascripts/jquery.tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tablesorter").tablesorter();
        });
    </script>
{% endblock %}

{% block content %}
    <div class='dns-title'><h3>{{ circuit.circuit_id }}</h3></div>


    {% block action_bar %}
        {% if circuit.get_edit_url %}
            <a class="btn btn-primary" href="{{ circuit.get_edit_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if circuit.get_delete_url %}
            <a class="btn btn-danger" href="{{ circuit.get_delete_url() }}">Delete</a>
        {% endif %}
    {% endblock %}

        <div>
            {% from 'core/core_macros.html' import display_details %}
            <div class='top-attributes'>
                {{ display_details(circuit.details(), obj=circuit) }}
            </div>

            <div class='top-attributes-left'>
                {% from 'core/core_macros.html' import display_kv %}
                {{ display_kv(attrs, store_name='Circuit Meta Data', obj=circuit, kv_type='Circuit', caption='Circuit Attributes') }}
            </div>
            <div class='core-list'>
                {% for link in circuit.links.all() %}
                    <div class='core-list-item'>
                        <div class='core-list-item-title'>
                            <span><a href='{{ link.get_absolute_url() }}'>{{ link }}</a></span>
                        </div>
                        {{ display_details(link.details(), obj=link, caption="Link Attribtues") }}
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
